{% extends 'adminLayout.twig' %}

{% block content %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>
                    {% if batch %}
                        Batch edit
                    {% else %}
                        New batch registration
                    {% endif %}
                </h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_content">

                        {% if batch %}
                            {{ form_model(batch,
                            {   'url':  '/cp/product/batch/update/'~batch.id,
                                'class' :'form-horizontal form-label-left',
                                'method':'post',
                                'role' : 'form',
                            })|raw }}
                        {% else %}
                            <form class="form-horizontal form-label-left" novalidate method="post">
                        {% endif %}
                            <input type="hidden" autocomplete="off" name="_token" value="{{ csrf_token() }}">
                                <span class="section">Batch info {% if batch %} - <i>{{ batch.batch_no }}</i>{% endif %}</span>
                                {% if errors %} {{ errors.first()|raw }} {% endif %}
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="product_id">Product
                                    <span class="required">*</span>
                                </label>
                                {{ form_select('product_id', products, product_id ? product_id : input_old('product_id'),
                                {'class':"form-control col-md-4 col-xs-6",'style':"width: 30%;margin-right:10px"}) }}
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="batch_no">Batch no
                                    <span class="required">*</span>
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_text('batch_no', input_old('batch_no'), {
                                        'class':'form-control col-md-7 col-xs-12',
                                        'required':'required'
                                    }) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="size">Size <span
                                            class="required">*</span>
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_text('size', input_old('size'), {
                                        'class':'form-control col-md-7 col-xs-12',
                                        'required':'required',
                                        'style':'width:20%'
                                    }) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="color">Color <span
                                            class="required">*</span>
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_text('color', input_old('color'), {
                                        'class':'form-control col-md-7 col-xs-12',
                                        'required':'required',
                                        'style':'width:20%'
                                    }) }}

                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="qty">Quantity <span
                                            class="required">*</span>
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_text('qty', input_old('qty'), {
                                        'class':'form-control col-md-7 col-xs-12',
                                        'required':'required',
                                        'style':'width:20%'
                                    }) }}
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button type="submit" class="btn btn-primary">Cancel</button>
                                    <button id="send" type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}