{% extends 'adminLayout.twig' %}

{% block content %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>
                    {% if product %}
                        Product edit
                    {% else %}
                        New product registration
                    {% endif %}
                </h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_content">
                        {% if product %}
                        {{ form_model(product,
                        {   'url':  '/cp/product/update/'~product.id,
                            'class' :'form-horizontal form-label-left',
                            'method':'post',
                            'files': true,
                            'role' : 'form',
                        })|raw }}
                        {% else %}
                        <form class="form-horizontal form-label-left" novalidate method="post" enctype="multipart/form-data">
                            {% endif %}

                            <input type="hidden" autocomplete="off" name="_token" value="{{ csrf_token() }}">
                            <span class="section">Product info {% if product %} - <i>{{ product.title }}</i>{% endif %}</span>
                            {% if errors %} {{ errors.first()|raw }} {% endif %}
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Title
                                    <span class="required">*</span>
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_text('title', input_old('title'), {
                                        'class':'form-control col-md-7 col-xs-12',
                                        'required':'required'
                                    }) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="code">Code <span
                                            class="required">*</span>
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_text('code', input_old('code'), {
                                        'class':'form-control col-md-7 col-xs-12',
                                        'required':'required'
                                    }) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="category_id">Category
                                    <span class="required">*</span>
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control col-md-4 col-xs-6" name="category_id"
                                            required="required" id="category_id">
                                        {{ categoryOpts|raw }}
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">Price
                                    <span class="required">*</span>
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_number('price', input_old('price'), {
                                        'class':'form-control col-md-7 col-xs-12',
                                        'required':'required',
                                        'step':'0.01',
                                        'placeholder':'0.00',
                                        'style':'width: 30%;margin-right:10px'
                                    }) }}
                                    {{ form_select('currency_id', currencies, input_old('currency_id'),
                                    {'class':"form-control col-md-4 col-xs-6",'style':"width: 30%;margin-right:10px"}) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="code">Tags <span
                                            class="required">*</span>
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_text('tags', product ? product.tags_list() : input_old('tags'), {
                                        'class':'form-control col-md-7 col-xs-12',
                                        'placeholder':'separate tags with comma',
                                        'required':'required'
                                    }) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="photo1">Photo 1</label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_input('file', 'file[]', null,{
                                        'class':'form-control col-md-7 col-xs-12'
                                    }) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="photo2">Photo 2</label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_input('file', 'file[]', null,{
                                        'class':'form-control col-md-7 col-xs-12'
                                    }) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="photo3">Photo 3</label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_input('file', 'file[]', null,{
                                        'class':'form-control col-md-7 col-xs-12'
                                    }) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="photo4">Photo 4</label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_input('file', 'file[]', null,{
                                        'class':'form-control col-md-7 col-xs-12'
                                    }) }}
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description
                                    <span class="required">*</span>
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_textarea('description', input_old('description'), {
                                        'class':'form-control col-md-7 col-xs-12',
                                        'required':'required'
                                    }) }}
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button type="submit" class="btn btn-primary">Cancel</button>
                                    <button id="send" type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                            {{ form_close() }}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}