{% extends 'adminLayout.twig' %}

{% block content %}
    <style type="text/css">
        tbody td {
            color:#444
        }
        .fa-2x {font-size:1.5em}
        tbody>tr>td,
        tbody>tr>th {
            border: 1px solid #ddd;
        }
        thead>tr>th {
            background: rgba(52, 73, 94, 0.94);
           color: #ECF0F1;
        }
    </style>
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Product list
            </h3>
        </div>
    </div>
    <div class="clearfix"></div>
    {% if errors %} {{ errors.first()|raw }} {% endif %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    {{ grid|raw }}
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">
        $(function(){
           $('.p-edit').on('click', function(e){
               e.preventDefault();
               window.location.href = "/cp/product/update/"+$(this).data('id');
           });
            $('.p-view').on('click', function(e){
                e.preventDefault();
                window.open($(this).data('url'), '_blank');
            });
        });
    </script>
{% endblock %}