@import url(http://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700);
* {
    font-family: Lato,arial;
}
body {
    font-size: 1.5em;
    text-rendering: optimizeLegibility;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

    opacity: 1;

}
.fa-m {
    font-size: 1.5em;
}
/***
*   header
*/
#menu .dropdown-submenu {
    position: relative;
}

#menu .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

#menu .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

#menu .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #111;
    margin-top: 5px;
    margin-right: -10px;
}

#menu .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

#menu .dropdown-submenu.pull-left {
    float: none;
}

#menu .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#menu .dropdown-menu a, .drop-down-submenu a {
    padding: 15px 25px!important;
    border-bottom: 1px solid #e1e1e1;
}



header .welcome {
    background: #d9e1e6;
    height: 30px;
    line-height: 30px;
    color:#868f93;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;

}
div.bootstrap-select {
    width: 110px!important;
}
header .bootstrap-select *{
    font-size: 12px;
    font-weight: normal;
}
header .logo a {
    font-size:36px;
    font-weight: bold;
}
header .logo img {
    width: 70px;
}
header .header .container .row{
    height: 110px;
    display: flex;
    justify-content: center;
}
/****************** cart ****************/

header .cart-container {

    width: 100%;

}
header .btn-cart {
    float:right;
    width: 128px;
    height: 44px;
    background: none;
    border:2px solid #ded3aa;
    font-size: 12px;
}
ul.dropdown-cart img {
    width: 50px;
}
ul.dropdown-cart{
    min-width:250px;
    right:0;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;
    overflow: hidden;
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}

/**********************************/

header .header .container .row .col-md-4{
    align-self: center;
}
.header  .bootstrap-select img {width:20px;margin-right:5px}
.header  .bootstrap-select button {
    border:none;
    font-weight: bold;
}
.bootstrap-select button:hover {
    background: #f5f5f5;
    color:#000
}

/** MENU *****/

#menu {
    background: transparent;
    border-color: #e1e1e1;
}
#menu .navbar-nav {
    display: inline-block;
    float: none;
    margin-left: 150px;
}

#menu .navbar-nav li {
    margin-left:10px;
}

#menu .navbar-collapse {
    text-align: center;
}

#menu .navbar-nav a {
    text-transform: uppercase;
    color:#111;
    font-size: 12px;
    padding: 25px;
    font-weight: 600;
}

#search-wrapper {
    width: 300px;
    text-align: right;
    line-height: 50px;
}
#search-wrapper form {
    display: inline-block;
    margin: 0;
    padding: 0 5px;
}
#search-wrapper input[type="text"] {
    font-size: 14px;
    color: #111;
    padding: 3px;
    border:1px solid #aaa;
    width: 0;
    background: none;
    z-index: 3;
    display: none;
    line-height: 20px;
}


#search-wrapper input[type="text"]:focus,
#search-wrapper button:focus {
    outline: none;
}

#search-wrapper button {
    background: none;
    border: none;
    cursor: pointer;
}

.wishlist-icon {
    border-right: 1px dotted #111;
    padding:5px 15px;
    display: inline-block;
}
.wishlist-icon *{
    color:#323232;
    font-weight: bold;
}

.btn-remove-wishlist {
    background: #fdfbbb !important;
}
.btn-remove-wishlist .fa-heart {
    color: #ffbb2f !important;
}
/***
*   FOOTER
*/

footer {
    height: 70px;
    margin-top:100px
}
footer .copyright{
    border-top:1px solid #e1e1e1;
    color: #b5b5b5;
    text-align: center;
    line-height: 70px;
}

/**
8     PRODUCT PAGE
**/
a.clear-selection {
    color:#111;
    text-decoration: underline;
    font-weight: bold;
    font-size:0.9em;
    display: block;
    margin:40px 0

}
.btn-big {
    width: 100%;
    height: 54px;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 12px;
    margin-bottom: 5px;
}

.btn-dark {
    background: #111;
    color: #fff;
}
.btn-dark:hover {
    background: #222;
    color: #fff;
}
.btn-white {
    background: #fff;
    color: #111;
    font-weight: bold;
    border: 1px solid #e1e1e1;
}
.btn-white:hover {
    background: #fff;
    color: #111;
    font-weight: bold;
    border: 1px solid #b1b1b1;
}

.product-main-photo {
    height: 683px;
    background: #e1e1e1;
}
.product-main-photo .wrapper {
    height: 100%;
    overflow: hidden;
}
.product-main-photo img {
   max-width: 100%;
}
.product-photos  {
    margin-top:20px
}
.product-photos a:hover img {
    border:1px solid #b1b1b1;
}
.product-photos img {
    width: 100%;
}

.product-photos .wrapper {
    width: 144px;
    display: inline-block;
    margin-right:22px;
    border:1px solid #e1e1e1;
    background: #f0f0f0;
}
.product-photos .wrapper:last-child {
    margin:0;
}

#product-part .back {font-size:0.9em;margin-bottom: 20px}
#product-part .breadcrumb a {font-weight:normal;padding:0 10px}
#product-part .breadcrumb a:first-child {font-weight:normal;padding-left:0}
#product-part .breadcrumb {
    background: none;
    font-weight: bold;
    padding-left:0
}

.product-worth {
    color: #68899a;
    font-size:26px;
    font-weight: bold;
    margin: 25px 0;
}
.product-attribute {
    font-size:16px;
    padding: 2px 0;
}
.product-attribute span.product-attr-label{
    font-weight: 600;
    letter-spacing: 0.5;
    font-size: 0.9em;
}

.product-description {
    padding: 30px 0;
    font-size: 0.96em;
}

.product-rating {display:inline-block;}
.product-rating i{font-size:18px;padding:0;cursor:pointer;color: #ded3aa}
.product-rating i.fa-star-o:before{content:"\f005";color: #dfdfde}

#product_size, #product_color {
    color: #a1a1a1;
}
#product-part .product-share-container {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    height: 50px;
    margin-top:30px;
    line-height: 50px;
    font-size: 0.7em;
    font-weight:bold;
    vertical-align: middle;
}

#product-part .product-share-container div:nth-child(2) > * {
    display: inline-block;
    margin-left:10px
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    header .header .container .row{
        height: auto;
        display: block;
        justify-content: center;
    }
    .product-main-photo {
        height: 400px;
        background: #e1e1e1;
    }
    .product-main-photo .wrapper {
        width: 100%;
        overflow: hidden;
    }
    .product-photos {
        margin-bottom:15px;
    }
    .product-photos .wrapper {
        width: 22%;
        margin-right:5px;
    }
    #currency {
        width:100%;
    }
    header .btn-cart {
        float: none;
        width: 100%;
        margin:10px 0
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    header .btn-cart {
        float: none;
        width: 100%;
    }
    header .header .container .row{
        height: auto;
        display: block;
        justify-content: center;
    }
    .product-main-photo {
        height: 400px;
        background: #e1e1e1;
    }
    .product-main-photo .wrapper {
        width: 100%;
        overflow: hidden;
    }
    .product-photos {
        margin-bottom:15px;
    }
    .product-photos .wrapper {
        width: 23%;
        margin-right:13px;
    }
}
