{% extends 'layout.twig' %}

{% block fb_share %}
    <meta property="og:url" content="{{ product.url() }}" xmlns="http://www.w3.org/1999/html"/>
    <meta property="og:title" content="{{ product.title }} | Bonfire"/>
    <meta property="og:description" content="{{ product.description }}"/>
    <meta property="og:image" content="{{ product.photos.0.large() }}"/>
{% endblock %}
{% block js %}
    {{ parent() }}
    {{ html_script('/js/starrr.min.js') }}
{% endblock %}
{% block css %}
    {{ parent() }}
    {{ html_style('/js/starrr.min.css') }}
{% endblock %}
{% block content %}
    <div class="container" id="product-part" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="breadcrumb">{{ product.category.createBreadcrumbs()|raw }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="product-main-photo">
                    <div class="wrapper">
                        <img src="{{ product.photos.0.large() }}" alt="{{ product.title }}"/>
                    </div>
                </div>
                <div class="product-photos">
                    {% for photo in product.photos|slice(0, 4) %}
                        <div class="wrapper">
                            <a href="javascript:void(0)" data-large="{{ photo.large() }}">
                                <img src="{{ photo.thumb() }}" alt="{{ product.title }}"/>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                       <div class="back"> < Back to <a href="#">{{ product.category.name }}</a></div>
                    </div>
                </div>
                <!-- finish row-->
                <div class="row">
                    <div class="col-md-12">
                        <h3><b>{{ product.title }}</b></h3>
                    </div>
                </div>
                <!-- finish row-->
                <div class="row" style="margin-top:10px">
                    <div class="col-md-12">
                        <div class="product-rating-container">
                            <div class="product-rating"
                                 data-id="{{ product.id }}"
                                 data-numstars='5'
                                 data-connected-input='rating'></div>
                            <span class="sr-solely">(<b>{{ product.ratingCount() }}</b>) Reviews</span>
                            <input type='hidden' name='rating' value='{{ product.ratingAvg() }}' class="form-control"/>
                        </div>
                    </div>
                </div>
                <!-- finish row -->
                <div class="row">
                    <div class="col-md-12 backside-rule">
                        <h2 class="product-worth">{{ product.price() }}</h2>
                    </div>
                </div>
                <!-- finish row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-attribute">
                            <span class="product-attr-label">Availability : </span><a
                                    href="#">{{ product.quantity() > 0 ? 'In stock' : '<span class="red">Out of stock</span>' }}</a>
                        </div>
                        <div class="product-attribute">
                            <span class="product-attr-label">Product code : </span><a href="#">#{{ product.code }}</a>
                        </div>
                        <div class="product-attribute">
                            <span class="product-attr-label">Tags : </span>{{ product.tags_list(1)|raw }}
                        </div>
                    </div>
                </div>
                <!-- finish row -->
                <div class="row">
                    <div class="col-md-12">
                        <p class="product-description">
                            {{ product.description|nl2br }}
                        </p>
                    </div>
                </div>
                <!-- finish row -->

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <label>COLOR</label>
                        <select name="color" class="form-control" id="product_color">
                            {% for color in product.colors() %}
                                <option value="{{ color }}"
                                        {% if product.color == color %}selected="selected"{% endif %}> {{ color }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <label>SIZE</label>
                        <select name="size" class="form-control" id="product_size">
                            {% for size in product.sizes() %}
                                <option value="{{ size }}"
                                        {% if product.size == size %}selected="selected"{% endif %}> {{ size }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <label>QTY</label>
                        <input type="number" id="product_qty" max="{{ product.quantity() }}" min="1" class="form-control" value="1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="javascript:void(0);" class="clear-selection">CLEAR SELECTION</a>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <button class="btn btn-big btn-dark btn-add-cart" data-id="{{ product.id }}">Add to card</button>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <button class="btn btn-big btn-white btn-add-wishlist"
                                data-id="{{ product.id }}"
                                {% if is_wishlisted %}style="display: none"{% endif %}>
                            <i class="fa fa-m fa-heart-o"></i>
                            &nbsp;Add to wishlist
                        </button>
                        <button class="btn btn-big btn-white btn-remove-wishlist"
                                data-id="{{ product.id }}"
                                {% if is_wishlisted == false %}style="display: none"{% endif %}>
                            <i class="fa fa-m fa-heart"></i>
                            &nbsp;Remove from wishlist
                        </button>
                    </div>
                </div>
                <!-- social share -->
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="product-share-container">
                            <div class="col-md-3 col-sm-12">SHARE THIS</div>
                            <div class="col-md-9 col-sm-12" style="margin-top:5px">
                                <div class="fb-share-button"
                                     data-href="http://www.your-domain.com/your-page.html"
                                     data-layout="button_count">
                                </div>
                                <a class="twitter-share-button"
                                   data-url="https://dev.twitter.com/web/tweet-button"
                                   data-via="bonfire"
                                   data-hashtags="#nar #bonfire"
                                   data-text="{{ product.title }} - "
                                   href="{{ product.url() }}">
                                    Tweet</a>

                                <a data-pin-do="buttonPin" data-pin-count="beside"
                                   href="https://www.pinterest.com/pin/create/button/?url={{ product.url()|url_encode }}&media={{ product.photos.0.large()|url_encode }}&description={{ product.title|url_encode }}">
                                    <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png"/>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Social share -->
            </div>
        </div>
    </div>
    <!-- finish container -->
{% endblock %}