{% extends 'layout.twig' %}


{% block content %}
<div class="container" id="p404" xmlns="http://www.w3.org/1999/html">
    <div class="row" style="text-align: center">
        <h1>404 Not found</h1>
    </div>
</div>
{% endblock %}