{% for item in cart_items %}
    <li>
      <span class="item">
        <span class="item-left">
            <img src="{{ item.photo }}" alt=""/>
            <span class="item-info">
                <span>{{ item.title }}</span>
                <span>{{ item.price }} -  {{ item.size }} - {{ item.color }}</span>
            </span>
        </span>
        <span class="item-right">
            <button class="btn btn-xs btn-danger pull-right" data-id="{{ item.key }}">x</button>
        </span>
    </span>
    </li>
{% endfor %}
<li class="divider"></li>
<li><a class="text-center" href="#">View Cart</a></li>