<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/images/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icon/favicon-16x16.png">
    <link rel="manifest" href="/images/icon/manifest.json">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {% block fb_share %}
    {% endblock %}
    {% block css %}
        {{ html_style('/css/bootstrap.min.css') }}
        {{ html_style('/css/bootstrap-select.min.css') }}
        {{ html_style('/fonts/css/font-awesome.min.css') }}
        {{ html_style('/css/main.css') }}
    {% endblock %}
    {% block js %}
        {{ html_script('/js/jquery.min.js') }}
        {{ html_script('/js/bootstrap.min.js') }}
        {{ html_script('/js/bootstrap-select.min.js') }}
        {{ html_script('/js/main.js') }}
    {% endblock %}
</head>
<body>
<div id="fb-root"></div>
<header id="header">
    <!--welcome-->
    <div class="welcome">
        start selling your products or buy them from anywhere!
    </div>
    <!-- HEADER -->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <select class="selectpicker " id="currency">
                        {% for currency in currencies %}
                            <option value="{{ currency.id }}"
                                    {% if user_currency == currency.id %}selected="selected"{% endif %}
                                    data-content="<img src='/images/icon_flag_{{ currency.code }}.png'> {{ currency.code }}"></option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="logo">
                        <a href="/"><img src="/images/logo_orig.png" alt=""> Bonfire</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="cart-container">
                        <button class="btn btn-cart">CART (<span class="count">{{ cart_item_count }}</span>)</button>
                        <ul class="dropdown-menu dropdown-cart" role="menu">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /HEADER -->
    <!-- NAVIGATION MENU -->
    <!-- Navbar -->
    <nav id="menu" class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse navbar-ex1-collapse">
                <!-- Middle nav -->
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    {{ menu_nav|raw }}
                    <li><a href="#">Lookbook</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
                <div class="navbar-form navbar-right">
                    <div id="search-wrapper">
                        <div class="wishlist-icon">
                            <a href="#"><i class="fa fa-heart-o"></i></a>
                        </div>
                        <form action="#" autocomplete="on">
                            <input id="search" name="search" type="text" placeholder="wishlist search">
                            <button class="fa fa-search"></button>
                        </form>
                    </div>


                </div>
            </div>
        </div>
        <!--/.nav-collapse -->
    </nav>
</header>
{% block content %}{% endblock %}
<footer>
    <div class="col-md-12 col-xs-12 copyright">2015 &copy; rashid safarov. All rights reserved</div>
</footer>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<script>window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
</body>
</html>